# Kategorik Değişkenler İçin Eksik Değer Atama

In [1]:
import pandas as pd
import numpy as np

In [3]:
V1 = np.array([1, 3, 6, np.NaN, 7, 1, np.NaN, 9, 15])
V4 = np.array(['IT', np.NaN, 'IK', 'IK', 'IK', 'IK', 'IK', 'IT', 'IT'], dtype=object)

df = pd.DataFrame(
    {
        'maas': V1,
        'departman': V4
    }
)
df

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IK
6   NaN        IK
7   9.0        IT
8  15.0        IT

In [4]:
df['departman'].mode()

0    IK
Name: departman, dtype: object

In [5]:
df['departman'].mode()[0]

'IK'

In [6]:
df['departman'].fillna(df['departman'].mode()[0])

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

In [7]:
df

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IK
6   NaN        IK
7   9.0        IT
8  15.0        IT

# departman değişkenindeki eksik değeri kendisinden bir önceki değerle veya bir sonraki değerle doldurmak isteyebiliriz.

In [9]:
df['departman'].fillna(method='ffill')
# kendisinden önceki değerle doldurma

0    IT
1    IT
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

In [11]:
df['departman'].fillna(method='bfill')
# kendisinden sonraki değerle doldurma

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object