# Tahmine Dayalı Değer Atama Yöntemleri - KNN & Random Forests  & EM

In [1]:
import missingno as msno
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
df = sns.load_dataset('titanic')
df = df.select_dtypes(include=['float64', 'int64'])
df.head()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [3]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

# KNN Algoritması İle Eksik Değerleri Doldurma

In [4]:
#!pip install ycimpute
from ycimpute.imputer import knnimput

In [5]:
var_names = list(df)
var_names

# knnimput bizden değişken isimlerini bir numpy array 'i içerisinde bekliyor.

['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']

In [6]:
n_df = np.array(df)
n_df[0:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [7]:
n_df.shape

(891, 6)

In [8]:
dff = knnimput.KNN(k=4).complete(n_df)
# k parametresi komşuluk sayısını ifade ediyor.

Imputing row 1/891 with 0 missing, elapsed time: 0.072
Imputing row 101/891 with 0 missing, elapsed time: 0.073
Imputing row 201/891 with 0 missing, elapsed time: 0.074
Imputing row 301/891 with 1 missing, elapsed time: 0.074
Imputing row 401/891 with 0 missing, elapsed time: 0.074
Imputing row 501/891 with 0 missing, elapsed time: 0.075
Imputing row 601/891 with 0 missing, elapsed time: 0.076
Imputing row 701/891 with 0 missing, elapsed time: 0.076
Imputing row 801/891 with 0 missing, elapsed time: 0.077

In [9]:
type(dff)

numpy.ndarray

In [10]:
dff = pd.DataFrame(dff, columns=var_names)
dff

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  22.469024    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [11]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

# Random Forests Algoritması İle Eksik Değerleri Doldurma

In [12]:
df = sns.load_dataset('titanic')
df = df.select_dtypes(include=['float64', 'int64'])
df.head()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [13]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [14]:
var_names = list(df)
var_names

['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']

In [15]:
n_df = np.array(df)
n_df

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       ...,
       [ 0.    ,  3.    ,     nan,  1.    ,  2.    , 23.45  ],
       [ 1.    ,  1.    , 26.    ,  0.    ,  0.    , 30.    ],
       [ 0.    ,  3.    , 32.    ,  0.    ,  0.    ,  7.75  ]])

In [24]:
from sklearn.ensemble import RandomForestRegressor

In [17]:
bagimli_degiskenler = ['pclass', 'sibsp', 'parch', 'fare']
from sklearn.ensemble import RandomForestRegressor
yas_verisi_var = df[pd.isnull(df['age']) == False]
yas_verisi_yok = df[pd.isnull(df['age'])]
        
rf_yas = RandomForestRegressor()
rf_yas.fit(yas_verisi_var[bagimli_degiskenler], yas_verisi_var['age'])
yeni_yas_verileri = rf_yas.predict(X = yas_verisi_yok [bagimli_degiskenler])
       
yas_verisi_yok['age'] = yeni_yas_verileri.astype(int)
df = yas_verisi_var.append(yas_verisi_yok)
     
df.isnull().sum()

C:\Users\murat\AppData\Local\Temp\ipykernel_10220\416798260.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yas_verisi_yok['age'] = yeni_yas_verileri.astype(int)
C:\Users\murat\AppData\Local\Temp\ipykernel_10220\416798260.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = yas_verisi_var.append(yas_verisi_yok)

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

# EM Algoritması İle Eksik Değerleri Doldurma